# generated, not to be checked in
Gemfile.lock

# Ignore bundler config
/.bundle

# Ignore the default SQLite database & and user configs
/db/*.sqlite3
/config/database.yml

## PROJECT::SPECIFIC
notes.mkd

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.pid
/tmp
